* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana;
    color:white;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: #bbb;
}

:root {
    --background-color:rgb(69, 6, 6);
}

.header__banner {
    position: relative;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    height: 40vh;
    background: url(../img/banner-two.jpg) center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__bg-color {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 0.5);
}

.header__img {
    z-index: 20;
    width: 150px;
    height: 150px;
}

.header__h1 {
    font-size: 50px;
    z-index:50;
    color:white;
}

.nav, .nav-responsive  {
    position:-webkit-sticky;
    position:sticky;
    top:0px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--background-color);
    padding:10px 15px;
    height: 60px;
}

.nav-responsive {
    display: none;
}

.nav__h1-responsive {
    font-size: 17px;
    left:10px;
    color: white;
    user-select: none;
    cursor: pointer;
}

.nav__ul, .nav__ul-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 0px;
    position: absolute;
}

.nav__li-a, .nav__li-a-responsive {
    font-size: 15px;
    padding: 20px 15px;
    color: white;
    text-decoration: none;
    user-select: none;
    display: flex;
    gap:5px;
}

.arrow-rotate {
    transform: translateY(2px) rotate(-90deg);
}

.nav__li:hover > a, .nav__li-responsive:hover > a , .nav__li:hover > a p{
    background: white;
    color:var(--background-color);
}

.nav__li:hover > .events-ul {
    display: flex;
    flex-direction: column;
} 

.nav__li-tecnicaturas {
    position: relative;
}

.events-ul {
    z-index: -1;
    display: none;
    position: absolute;
    width: max-content;
    height: max-content;
    list-style:none;
    background: rgb(116, 10, 10);
    border:1px solid black;
}

.events-ul__li {
    z-index: 100000000;
    padding: 15px 20px;
    border:1px solid transparent;
}

.events-ul__li:hover {
    background: white;
    color:var(--background-color);
    border:1px solid var(--background-color);
}

.events-ul__li-a {
    color:inherit;
    padding:15px 20px;
    width: max-content;
    text-decoration: none;
}



/* diseño de la seccion de informacion de las tecnicaturas */

.presentation {
    display: flex;
    gap:20px;
    width: 100%;
    margin:10px;
}

.presentation__card-one {
    padding: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    width: 80%;
    background: var(--background-color);
}


.card-one__h1-presentation {
    color:white;
}

.card-one__p-presentation {
    color:white
}

.presentation__li {
    margin-left: 30px;
    color:white;
}

.presentation__li a {
    color:white;
    text-decoration: none;
}

aside {
    width: 20%;
    margin-right: 120px;
}

aside img {
    width: 100%;
}